@charset "UTF-8";
/* utils */
@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  /* змінні кольорів */
  --primary-text-color: #111518;
  --second-text-color: #b9b9b9;
  --third-text-color: #3d3d3d;
  --primary-title-color: #111518;
  --accent--color: #ff6b09;
  --accent--wht--color: #ffffff;
  --background-color: #111518;
  --second-background-color: #f1f1f1;
}

.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.1), opacity(0.1);
}

/* base */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
}

.body {
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

/* components */
.section {
  padding: 70px 0;
  margin: 0 auto;
}
@media screen and (min-width: 1366px) {
  .section {
    padding: 130px 0;
  }
}
.section__footer {
  padding-top: 24px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .section__footer {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1366px) {
  .section__footer {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
.section__footer--dark {
  background-color: var(--background-color);
  padding: 20px 0;
}

.container {
  min-width: 320px;
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1366px) {
  .container {
    max-width: 1366px;
    padding: 0 26px;
  }
}

.button {
  width: 260px;
  height: 48px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: var(--accent--color);
  cursor: pointer;
  font-weight: 700;
  font-size: 12;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid var(--accent--color);
}
@media screen and (min-width: 1366px) {
  .button {
    width: 354px;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 26px;
    font-weight: 700;
    font-size: 14;
    line-height: 1.21;
    letter-spacing: 0.14em;
    text-align: center;
    text-transform: uppercase;
  }
}
.button:hover, .button:focus {
  background-color: var(--accent--wht--color);
  color: var(--accent--color);
}
.button--header {
  background-color: transparent;
  color: var(--accent--color);
  display: none;
}
@media screen and (max-width: 767.98px) {
  .mobile-menu.is-open + .button--header {
    display: inline-block;
    position: absolute;
    z-index: 5;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 768px) {
  .button--header {
    display: inline-block;
    position: absolute;
    right: 100px;
    top: 5px;
    transform: translateY(50%);
  }
}
@media screen and (min-width: 1366px) {
  .button--header {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 0px;
    transform: translateY(50%);
  }
}
.button--header:hover, .button--header:focus {
  background-color: var(--accent--color);
  color: var(--accent--wht--color);
}
.button--hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: var(--accent--wht--color);
}
@media screen and (min-width: 768px) {
  .button--hero {
    margin-left: 0;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 130px;
  color: var(--primary-text-color);
}
.logo__title {
  flex-direction: row;
  gap: 4px;
  font-weight: 800;
  font-size: 26;
  line-height: 1.23;
  letter-spacing: 0.04;
  text-align: none;
  text-transform: none;
}
.logo__title--upper {
  text-transform: uppercase;
}
.logo__icon {
  fill: var(--accent--color);
}
.logo__text {
  font-weight: 700;
  font-size: 8;
  line-height: 1.25;
  letter-spacing: 1.18;
  text-align: none;
  text-transform: none;
  text-transform: uppercase;
}
.logo__text--or {
  color: var(--accent--color);
}
.logo--header {
  color: var(--accent--wht--color);
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 1px;
  max-width: 80px;
  color: var(--primary-text-color);
  margin-left: auto;
  margin-right: auto;
}
.footer-logo__title {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 16;
  line-height: 1.23;
  letter-spacing: 0.04;
  text-align: none;
  text-transform: none;
}
.footer-logo__title--upper {
  text-transform: uppercase;
}
.footer-logo__icon {
  margin: 0 4px;
  width: 14px;
  height: 20px;
  fill: var(--accent--color);
  transform: translateY(15%);
}
.footer-logo__text {
  font-weight: 700;
  font-size: 5;
  line-height: 1.25;
  letter-spacing: 1.18;
  text-align: none;
  text-transform: none;
  text-transform: uppercase;
}
.footer-logo__text--or {
  color: var(--accent--color);
}
@media screen and (min-width: 768px) {
  .footer-logo {
    gap: 3px;
    max-width: 128px;
    margin-left: 0;
    margin-right: 0;
  }
  .footer-logo__title {
    font-weight: 800;
    font-size: 26;
    line-height: 1.23;
    letter-spacing: 0.04;
    text-align: none;
    text-transform: none;
  }
  .footer-logo__title--upper {
    text-transform: uppercase;
  }
  .footer-logo__icon {
    width: 22px;
    height: 30px;
  }
  .footer-logo__text {
    font-weight: 700;
    font-size: 8;
    line-height: 1.25;
    letter-spacing: 1.18;
    text-align: none;
    text-transform: none;
  }
}
@media screen and (min-width: 1366px) {
  .footer-logo {
    position: absolute;
    left: 26px;
  }
}

.link__footer {
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 14;
  line-height: 1.21;
  letter-spacing: 0.08em;
  text-align: none;
  text-transform: none;
}
.link__footer::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url(../images/svgorig/tel.svg);
  transform: translateY(25%);
}
@media screen and (min-width: 768px) {
  .link {
    font-weight: 600;
    font-size: 20;
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-align: none;
    text-transform: none;
  }
}
@media screen and (min-width: 1366px) {
  .link {
    font-weight: 600;
    font-size: 30;
    line-height: 1.23;
    letter-spacing: 0.08em;
    text-align: none;
    text-transform: none;
  }
}

/* layout */
#page.no-scroll {
  overflow: hidden;
}

.header__container {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.mobile-menu {
  width: 100%;
  height: 100vh;
  background: var(--background-color);
  opacity: 0.8;
  visibility: hidden;
  padding: 30px 20px;
  display: none;
}
.mobile-menu.is-open {
  z-index: 3;
  visibility: visible;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  row-gap: 48.5px;
  display: flex;
}
@media screen and (min-width: 1366px) {
  .mobile-menu {
    display: flex;
    visibility: visible;
    margin-left: 144px;
    width: auto;
    height: auto;
    background-color: transparent;
  }
}
@media screen and (min-width: 1366px) and (min-width: 1366px) {
  .mobile-menu .logo--header {
    display: none;
  }
  .mobile-menu .menu__list {
    display: flex;
  }
  .mobile-menu .menu__item:not(:last-child) {
    margin-right: 40px;
  }
}

.menu__link {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: var(--accent--wht--color);
}
@media screen and (min-width: 768px) {
  .menu__link {
    font-size: 26px;
    line-height: 1.8;
  }
}
@media screen and (min-width: 1366px) {
  .menu__link {
    display: flex;
    color: var(--second-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  }
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent--color);
}

.menu-button {
  position: absolute;
  z-index: 4;
  top: 25px;
  right: 15px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1366px) {
  .menu-button {
    display: none;
  }
}

.menu-button__close {
  display: none;
}
.menu-button.is-open .menu-button__close {
  fill: var(--accent--wht--color);
  display: block;
}

.hero {
  padding-bottom: 232px;
  background-image: url(../images/hero/Group-mob@2x.png), url(../images/hero/wave-bg.svg);
  background-position: 50% bottom, 0px -35px;
  background-repeat: no-repeat;
  background-size: 208px 178px, 768px 500px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 73px;
    background-image: url(../images/hero/Group-tab@2x.png), url(../images/hero/wave-bg.svg);
    background-position: calc(50% + 198px) top, left -380px;
    background-size: 370px 315px, 1300px 713px;
  }
}
@media screen and (min-width: 1366px) {
  .hero {
    padding-top: 55px;
    padding-bottom: 272px;
    background-image: url(../images/hero/Group-desk@2x.png), url(../images/hero/wave-bg.svg);
    background-position: calc(50% + 330px) top, 50% -160px;
    background-size: 842px 718px, 1680px 878px;
  }
}

.hero__box-text {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero__box-text {
    max-width: 320px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1366px) {
  .hero__box-text {
    max-width: 530px;
  }
}

.hero__title {
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #111518;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1366px) {
  .hero__title {
    font-size: 58px;
  }
}

.hero__text {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}
.hero__text--strong {
  color: #111518;
}
.hero__text--accent {
  display: inline-block;
  color: var(--accent--color);
}
@media screen and (min-width: 1366px) {
  .hero__text--accent {
    color: #111518;
  }
}
@media screen and (min-width: 1366px) {
  .hero__text {
    font-size: 20px;
    line-height: 1.65;
  }
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  justify-items: center;
}
.benefits__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefits__icon {
  position: relative;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  fill: var(--accent--color);
  border: 2px solid var(--accent--color);
}
.benefits__icon::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -3px;
  width: 4px;
  height: 44px;
  background: var(--accent--wht--color);
}
.benefits__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.64;
  letter-spacing: 0.08em;
  text-align: start;
  text-transform: none;
  width: 146px;
  color: var(--primary-text-color);
}
@media (min-width: 768px) {
  .benefits__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
    justify-items: start;
  }
  .benefits__text {
    width: 139px;
  }
  .benefits__text--first {
    width: 148px;
  }
}
@media (min-width: 1366px) {
  .benefits__item {
    position: relative;
  }
  .benefits__icon {
    width: 100px;
    height: 100px;
  }
  .benefits__icon::after {
    height: 66px;
  }
  .benefits__text {
    position: absolute;
    left: 82px;
    width: 239px;
    font-size: 20px;
  }
}

.problems {
  max-width: 480px;
  background: linear-gradient(to bottom, var(--background-color) 450px, var(--accent--wht--color) 430px, var(--accent--wht--color) 695px);
  padding: 0px 0px;
}
@media screen and (min-width: 768px) {
  .problems {
    max-width: 768px;
    background: linear-gradient(to bottom, var(--background-color) 350px, var(--accent--wht--color) 340px, var(--accent--wht--color) 481px);
  }
}
@media screen and (min-width: 1366px) {
  .problems {
    max-width: 1680px;
    background-image: url(../images/campfire.svg), linear-gradient(to bottom, var(--background-color) 545px, var(--accent--wht--color) 530px, var(--accent--wht--color) 710px);
    background-position: 100% 45%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }
}

.problems__title {
  color: var(--accent--wht--color);
  padding-top: 25px;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: none;
}
@media screen and (min-width: 768px) {
  .problems__title {
    padding-top: 55px;
    width: 450px;
  }
}
@media screen and (min-width: 1366px) {
  .problems__title {
    padding-top: 100px;
    width: 805px;
    font-size: 46px;
  }
}

.problems__accent-text {
  color: var(--accent--color);
}

.problems__list {
  margin-top: 25px;
  padding: 20px 27px;
  max-width: 440px;
  height: 490px;
  background: var(--accent--wht--color);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 768px) {
  .problems__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 688px;
    max-height: 320px;
    margin-top: 30px;
    padding: 28px 90px;
  }
}
@media screen and (min-width: 1366px) {
  .problems__list {
    max-width: 1314px;
    margin-top: 68px;
    max-height: 335px;
    padding: 67px 113px;
  }
}

.problems__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.08em;
  text-align: none;
  text-transform: none;
}
@media screen and (min-width: 1366px) {
  .problems__text {
    font-size: 20px;
    line-height: 1.4;
  }
}

.problems__item {
  counter-increment: section;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .problems__item {
    flex-basis: calc(50% - 34px);
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1366px) {
  .problems__item {
    flex-basis: calc(33.3333% - 26.6667px);
    margin-bottom: 30px;
  }
}

.problems__text::before {
  content: "― 0" counter(section);
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  text-align: none;
  text-transform: none;
  color: var(--accent--color);
}
@media screen and (min-width: 1366px) {
  .problems__text::before {
    margin-bottom: 10px;
  }
}

.problems__text-hiden {
  color: var(--primary-text-color);
}
@media screen and (min-width: 1366px) {
  .problems__text-hiden {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .section__work {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1366px) {
  .section__work {
    padding: 130px 0;
  }
}

.work {
  flex-wrap: wrap;
  gap: 15px;
  display: flex;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .work {
    gap: 20px;
  }
}
@media screen and (min-width: 1366px) {
  .work {
    gap: 30px;
  }
}

.work__title--head {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: false;
}
@media screen and (min-width: 480px) {
  .work__title--head {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .work__title--head {
    font-size: 26px;
    text-align: center;
  }
}
@media screen and (min-width: 1366px) {
  .work__title--head {
    margin-bottom: 47px;
    text-align: left;
    font-size: 46px;
  }
}

.work__title {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: false;
}
.work__list:hover .work__title {
  color: var(--accent--wht--color);
}
@media screen and (min-width: 768px) {
  .work__title {
    margin-top: 28px;
    margin-bottom: 20px;
    height: 40px;
    width: 270px;
  }
}
@media screen and (min-width: 1366px) {
  .work__title {
    margin-top: 28px;
    margin-bottom: 15px;
    font-size: 20px;
    width: 362px;
    height: 53px;
  }
}

.work__text {
  color: var(--second-text-color);
  max-width: 440px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: false;
}
@media screen and (min-width: 1366px) {
  .work__text {
    font-size: 18px;
    line-height: 1.5;
    max-width: 362px;
    height: 138px;
  }
}
.work__list:hover .work__text {
  color: var(--accent--wht--color);
}

.work__text::before {
  content: "";
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 2px;
  background: var(--accent--color);
  border-radius: 2px;
}
.work__list:hover .work__text::before {
  background: var(--accent--wht--color);
}
@media screen and (min-width: 1366px) {
  .work__text::before {
    margin-bottom: 15px;
  }
}

.work__list {
  padding: 30px 20px;
  max-width: 440px;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 480px) {
  .work__list:hover, .work__list:focus {
    background-color: var(--accent--color);
  }
}
@media screen and (min-width: 768px) {
  .work__list {
    flex-basis: calc(50% - 10px);
    padding: 35px 32px;
    min-width: 334px;
    height: 315px;
  }
}
@media screen and (min-width: 1366px) {
  .work__list {
    flex-basis: calc(33.33% - 20px);
    padding-top: 35px;
    padding: 35px 28px 55px;
    min-width: 418px;
    height: 396px;
  }
}
.work__list:hover, .work__list:focus {
  background-color: var(--accent--color);
}

.work__box {
  text-align: center;
}

.work__icon {
  fill: var(--accent--color);
}
.work__list:hover .work__icon {
  fill: var(--accent--wht--color);
}

.program {
  padding-top: 50px;
  padding-bottom: 550px;
  color: var(--accent--wht--color);
  background-color: var(--background-color);
  background-image: url(../images/programm/program-bg-mob.png);
  background-repeat: no-repeat;
  background-position: right calc(50% - 100px) bottom 453px;
}
@media screen and (min-width: 768px) {
  .program {
    padding-top: 60px;
    padding-bottom: 371px;
    background-image: url(../images/programm/program-bg-tab.png);
    background-repeat: no-repeat;
    background-position: right calc(50% - 195px) bottom 269px;
  }
}
@media screen and (min-width: 1366px) {
  .program {
    padding-top: 106px;
    padding-bottom: 340px;
    background-image: url(../images/programm/program-bg-desk.png);
    background-repeat: no-repeat;
    background-position: left calc(50% - 505px) bottom 28px;
  }
}

.program__title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .program__title {
    margin-bottom: 52px;
    text-align: left;
    font-size: 26px;
  }
}
@media screen and (min-width: 1366px) {
  .program__title {
    margin-bottom: 106px;
    font-size: 46px;
  }
}

.program__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 80px;
}
@media screen and (min-width: 768px) {
  .program__list {
    gap: 30px;
    margin-left: 87px;
  }
}
@media screen and (min-width: 1366px) {
  .program__list {
    flex-direction: row;
    gap: 46px;
    margin-left: 0;
  }
}

.semester {
  position: relative;
}
@media screen and (min-width: 1366px) {
  .semester {
    width: 226px;
  }
}
.semester:not(:last-child):before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 3px;
  height: calc(100% + 40px);
  background-color: var(--accent--wht--color);
  top: 14px;
  left: -28px;
}
@media screen and (min-width: 768px) {
  .semester:not(:last-child):before {
    height: calc(100% + 30px);
    left: -42px;
  }
}
@media screen and (min-width: 1366px) {
  .semester:not(:last-child):before {
    width: calc(100% + 650px);
    height: 3px;
    top: -40px;
    left: -190px;
  }
}

.semester__title {
  position: relative;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.semester__title::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--accent--color);
  top: 30%;
  left: -32px;
}
@media screen and (min-width: 768px) {
  .semester__title::before {
    left: -46px;
  }
}
@media screen and (min-width: 1366px) {
  .semester__title::before {
    width: 16px;
    height: 16px;
    top: -46px;
    left: 0;
  }
}
@media screen and (min-width: 1366px) {
  .semester__title {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1366px) {
  .semester__title--number {
    font-size: 30px;
    line-height: 0.93;
  }
}

.semester__subject-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .semester__subject-list {
    flex-direction: row;
    gap: 50px;
  }
}
@media screen and (min-width: 1366px) {
  .semester__subject-list {
    flex-direction: column;
    gap: 25px;
  }
}

.semester__subject-item {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.65;
  color: var(--accent--color);
}
@media screen and (min-width: 768px) {
  .semester__subject-item {
    width: 150px;
  }
}
@media screen and (min-width: 1366px) {
  .semester__subject-item {
    font-size: 20px;
    width: 100%;
  }
}

.semester__topic-list {
  margin-top: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: var(--second-text-color);
  opacity: 0.5;
}
@media screen and (min-width: 1366px) {
  .semester__topic-list {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.56;
  }
}

/* .benefits {
  position: relative;
  @include mq(tab) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.benefits__bg-wrap {
  background-color: var(--primary-text-color);
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.benefits__list {
  background-color: #fff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  padding: 35px 22px;
  @include mq(tab) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 98px;
  }
}

.benefits__line {
  margin-bottom: 30px;
  letter-spacing: 0.08em;
  font-weight: 700;
  @include mq(tab) {
    margin-bottom: 20px;
    margin-right: 20px;
    width: 236px;
  }
  @include mq(desk) {
    width: 336px;
    margin-right: 40px;
    font-size: 20px;
  }
}

.benefits__title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  width: 180px;
  margin-bottom: 30px;
  @include mq(tab) {
    width: 100%;
    font-size: 26px;
    text-align: center;
  }
}

.benefits__number {
  color: var(--accent--color);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.benefits__text {
  line-height: 20px;
  @include mq(desk) {
    line-height: 24px;
  }
} */
.about .section__title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: false;
  text-transform: false;
}
@media screen and (min-width: 768px) {
  .about .section__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1366px) {
  .about .section__title {
    font-size: 46px;
    margin-bottom: 50px;
  }
}

.about {
  position: relative;
}

@media screen and (min-width: 768px) {
  .about__wrap {
    display: flex;
    gap: 42px;
  }
}
@media screen and (min-width: 1366px) {
  .about__wrap {
    gap: 60px;
  }
}

.about__img {
  display: block;
  margin-bottom: 20px;
}

.about__exp {
  max-width: 280px;
}
@media screen and (min-width: 768px) {
  .about__exp {
    max-width: 403px;
  }
}
@media screen and (min-width: 1366px) {
  .about__exp {
    max-width: 641px;
  }
}

.about__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  text-align: false;
  text-transform: false;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--second-text-colot);
  margin-bottom: 20px;
}
@media screen and (min-width: 1366px) {
  .about__title {
    font-size: 30px;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
}

.about__list {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about__list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1366px) {
  .about__list {
    margin-bottom: 43px;
    width: 589px;
  }
}

.about__item {
  position: relative;
  margin-left: 27px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-align: false;
  text-transform: false;
}
@media screen and (min-width: 768px) {
  .about__item {
    font-weight: false;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.06em;
    text-align: false;
    text-transform: false;
  }
}
@media screen and (min-width: 1366px) {
  .about__item {
    font-weight: false;
    font-size: 16px;
    line-height: false;
    letter-spacing: false;
    text-align: false;
    text-transform: false;
    margin-left: 59px;
  }
}
.about__item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 1366px) {
  .about__item:not(:last-child) {
    margin-bottom: 28px;
  }
}
.about__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: -27px;
  width: 18px;
  height: 14px;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .about__item::before {
    left: -29px;
    top: 0;
  }
}
@media screen and (min-width: 1366px) {
  .about__item::before {
    width: 25px;
    height: 20px;
    left: -59px;
  }
}

.about__desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: false;
  text-align: false;
  text-transform: false;
  color: #b9b9b9;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about__desc:not(:last-of-type) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1366px) {
  .about__desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: false;
    text-align: false;
    text-transform: false;
  }
}
.about__desc:first-of-type::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 20px;
  background-color: var(--accent--color);
}
@media screen and (min-width: 768px) {
  .about__desc:first-of-type::before {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1366px) {
  .about__desc:first-of-type::before {
    margin-bottom: 43px;
  }
}

.about__btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: false;
  text-align: false;
  text-transform: false;
  color: var(--accent--color);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--accent--color);
  padding: 0;
}
@media screen and (min-width: 1366px) {
  .about__btn {
    font-size: 18px;
    line-height: 1.56;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 420px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 480px;
    height: 650px;
  }
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms, transform 250ms;
}
.backdrop.is-hidden {
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
  transform: scale(50%, 50%);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  outline: none;
  background-color: unset;
  border-radius: 50%;
  border: 1px solid var(--second-text-colot);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:focus,
.btn-close :hover {
  fill: var(--accent--color);
  border-color: var(--accent--color);
}

.guarantee__title {
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
  color: var(--primary-text-color);
}
.guarantee__container {
  padding: 0;
}
.guarantee__list {
  width: 100%;
  padding: 45px 20px;
  background: var(--second-background-color);
}
.guarantee__item {
  position: relative;
  width: 100%;
  padding-left: 28px;
  padding-bottom: 25px;
  border-left: 1px dashed var(--second-text-color);
}
.guarantee__item:last-child {
  border: none;
  padding-bottom: 0;
}
.guarantee__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0;
  text-align: start;
  text-transform: none;
  color: var(--third-text-color);
}
.guarantee__text--color {
  color: var(--accent--color);
}
.guarantee__icon {
  fill: var(--accent--color);
  position: absolute;
  top: -6px;
  left: -7.5px;
  padding: 6px 0;
  background: var(--second-background-color);
}
@media (min-width: 768px) {
  .guarantee__list {
    padding: 45px 65px;
  }
  .guarantee__container {
    padding: 0 20px;
  }
}
@media (min-width: 1366px) {
  .guarantee__title {
    font-size: 46px;
  }
  .guarantee__list {
    padding: 45px 123px;
  }
  .guarantee__item {
    padding-left: 40px;
    padding-bottom: 20px;
  }
  .guarantee__icon {
    top: -4px;
    left: -11px;
    padding: 4px 0;
  }
  .guarantee__icon svg {
    width: 22px;
    height: 30px;
  }
  .guarantee__text {
    font-size: 20px;
    line-height: 1.4;
  }
}

.reviews {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 50px 110px;
  padding: 50px 82px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.reviews__icon {
  display: block;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}

.reviews__overlay {
  width: 706px;
}

.reviews__title {
  margin-bottom: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 1.23;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: var(--accent--color);
}

.reviews__exp {
  width: 482px;
  margin-bottom: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  /* or 129% */
  letter-spacing: 0.08em;
  color: var(--second-text-colot);
}

.reviews__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
  color: var(--third-text-color);
}

.reviews__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  /* identical to box height, or 156% */
  color: var(--accent--color);
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Точки (булиты) */
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li:not(:last-child) {
  margin-right: 30px;
}

/* Активная точка */
.slider .slick-dots li.slick-active button {
  border: 1px solid var(--accent--color);
}

/* Элемент точки */
.slider .slick-dots li:nth-child(1) button {
  font-size: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-image: url(../images/reviews/petro_bidenko.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.slider .slick-dots li:nth-child(2) button {
  font-size: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-image: url(../images/reviews/rostyslav_derii.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.slider .slick-dots li:nth-child(3) button {
  font-size: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-image: url(../images/reviews/andrii_sopelniak.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.slider .slick-dots li:nth-child(4) button {
  font-size: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-image: url(../images/reviews/valeriia_stetsiuk.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.slider .slick-dots li:nth-child(5) button {
  font-size: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-image: url(../images/reviews/liubov_pushkina.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.slider .slick-dots li:nth-child(6) button {
  font-size: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-image: url(../images/reviews/vova_boychyshyn.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.slider .slick-dots li:nth-child(7) button {
  font-size: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-image: url(../images/reviews/rodion.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.slider {
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  top: 44%;
  z-index: 10;
  font-size: 0;
  width: 25px;
  height: 10px;
}

.slider .slick-arrow.slick-prev {
  left: 26px;
  background: url(../images/reviews/prev.svg) 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 26px;
  background: url(../images/reviews/next.svg) 0/100% no-repeat;
}

.slider__item {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.registration {
  font-family: "Montserrat";
  background-image: url(./../images/registration-contacts/registration-bg_sm.png);
  background-color: #111518;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .registration {
    background-image: url(./../images/registration-contacts/registration-bg_sm@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .registration {
    background-image: url(./../images/registration-contacts/registration-bg_md.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .registration {
    background-image: url(./../images/registration-contacts/registration-bg_md@2x.png);
  }
}
@media screen and (min-width: 1366px) {
  .registration {
    background-image: url(./../images/registration-contacts/registration-bg_lg.png);
  }
}
@media screen and (min-width: 1366px) and (min-device-pixel-ratio: 2), screen and (min-width: 1366px) and (min-resolution: 192dpi), screen and (min-width: 1366px) and (min-resolution: 2dppx) {
  .registration {
    background-image: url(./../images/registration-contacts/registration-bg_lg@2x.png);
  }
}

.reg__container {
  padding: 55px 20px;
}
@media screen and (min-width: 768px) {
  .reg__container {
    padding: 60px;
  }
}
@media screen and (min-width: 1366px) {
  .reg__container {
    padding: 100px 295px;
  }
}

.reg__title {
  text-align: center;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .reg__title {
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1366px) {
  .reg__title {
    font-size: 46px;
    line-height: 60px;
  }
}

.reg__orange-span {
  color: #FF6B09;
}

.reg__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.reg__desc {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-align: center;
  margin-bottom: 43px;
}
@media screen and (min-width: 768px) {
  .reg__desc {
    font-size: 16px;
  }
}
@media screen and (min-width: 1366px) {
  .reg__desc {
    font-size: 30px;
  }
}

.reg__label {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .reg__label {
    width: 390px;
  }
}
@media screen and (min-width: 1366px) {
  .reg__label {
    width: 478px;
  }
}

.reg__input {
  background-color: transparent;
  padding: 15px 28px;
  outline: 1px solid #FFFFFF;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  letter-spacing: 0.08em;
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
}
.reg__input::placeholder {
  color: #FFFFFF;
}
.reg__input:focus {
  outline-color: var(--accent--color);
}
@media screen and (min-width: 768px) {
  .reg__input {
    width: 390px;
  }
}
@media screen and (min-width: 1366px) {
  .reg__input {
    width: 478px;
    font-size: 20px;
    padding: 23px 40px;
    margin-bottom: 30px;
  }
}

.reg__submit {
  background-color: #FF6B09;
  color: #FFFFFF;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  border: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 13px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .reg__submit {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1366px) {
  .reg__submit {
    font-size: 14px;
    padding-top: 27px;
    padding-bottom: 26px;
    width: 354px;
    margin-top: 50px;
  }
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
}
.footer__list {
  display: flex;
  align-items: center;
}
.footer__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: none;
  color: var(--second-text-color);
}
.footer__link {
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .footer {
    flex-direction: column;
    gap: 22px;
  }
  .footer__list {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    justify-content: space-between;
  }
  .footer__list {
    gap: 20px;
  }
  .footer__text {
    text-align: start;
  }
  .footer__social-link--inst {
    display: flex;
  }
  .footer__social-link--inst::before {
    content: "";
    padding-left: 20px;
    border-left: 1px solid #b9b9b9;
  }
}
.footer__list {
  margin: auto;
}
@media screen and (min-width: 1366px) {
  .footer__social-link--inst::before {
    content: "";
    padding-left: 23px;
    border-left: 1px solid #b9b9b9;
  }
}/*# sourceMappingURL=index.css.map */