:root {
  /* змінні кольорів */
  --primary-text-color: #111518;
  --second-text-colot: #b9b9b9;
  --third-text-color: #3d3d3d;
  --primary-title-color: 111518;
  --accent--color: #ff6b09;
  --accent--wht--color: #ffffff;

  --background-color: #111518;
  --second-background-color: #f1f1f1;
}
