:root {
  /* змінні кольорів */
  --primary-text-color: #111518;
  --second-text-color: #b9b9b9;
  --third-text-color: #3d3d3d;
  --primary-title-color: #111518;
  --accent--color: #ff6b09;
  --accent--wht--color: #ffffff;

  --background-color: #111518;
  --second-background-color: #f1f1f1;

  /* змінні анімація */
  --duration-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
