<section class="section">
  <div class="container">
    <h2 class="section__title">Teacher</h2>
    <div class="about">
      <picture class="about__img">
        <!-- <source
      media="(min-width: 1440px)"
      srcset="./img/gallery/img-1_lg.webp 1x, ./img/gallery/img-1_lg@2x.webp 2x"
      type="image/webp"
    /> -->
        <source
          media="(min-width: 1366px)"
          srcset="
            ./images/teacher/elena-moreva-desk.jpg    1x,
            ./images/teacher/elena-moreva-desk@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- 
    <source
      media="(min-width: 768px)"
      srcset="./img/gallery/img-1_md.webp 1x, ./img/gallery/img-1_md@2x.webp 2x"
      type="image/webp"
    /> -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/teacher/elena-moreva-tab.jpg    1x,
            ./images/teacher/elena-moreva-tab@2x.jpg 2x
          "
          type="image/jpg"
        />

        <!-- <source
      media="(max-width: 767px)"
      srcset="./img/gallery/img-1_sm.webp 1x, ./img/gallery/img-1_sm@2x.webp 2x"
      type="image/webp"
    /> -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/teacher/elena-moreva-mob.jpg,
            ./images/teacher/elena-moreva-mob@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/teacher/elena-moreva-mob.jpg"
          alt="photo"
          width="243"
          height="306"
          loading="lazy"
        />
      </picture>
      <div class="about__exp">
        <h3 class="about__title">Elena Moreva</h3>
        <ul class="about__list">
          <li class="about__item">
            6 yeards of experience in preparing students for UPE
          </li>
          <li class="about__item">
            Own result of passing VNO - 197 points 2 years in a row
          </li>
          <li class="about__item">
            Passed excellent at the international analogue of UPE - Cambridge
            PET (Preliminary English Test)
          </li>
        </ul>
        <p class="about__desc">
          Graduated from the Institute of International Relations of the NAU
          with a degree in translator-analyst.
        </p>
        <p class="about__desc">
          In spare time takes courses from the best universities in the world on
          effective teaching and essay writing techniques.
        </p>
        <p class="about__desc">
          Completed: English Grammar and Essay Writing (Berkeley), English
          Grammar & Style (The University of Queesland), How to Write an Essay
          (Berkeley), Academic and Business Writing (Berkeley), The Art of
          Teaching (GEMS education), Powerful Tools for Teaching and Learning
          (University of Houston).
        </p>
        <a class="about__modal" href=""
          >Cambrige English Entry Level Certificate</a
        >
      </div>
    </div>
  </div>
</section>
