<section class="section benefits">
  <div class="container">
      <ul class="benefits__list">
          <li class="benefits__item">
              <div class="benefits__icon">
                  <svg width="33" height="39">
                      <use href="./images/icon.svg#teach"></use>
                  </svg>
              </div>
              <h3 class="benefits__text benefits__text--first">
                  Adapted author's UPE program
              </h3>
          </li>
          <li class="benefits__item">
              <div class="benefits__icon">
                  <svg width="42" height="41">
                      <use href="./images/icon.svg#mobile-learning"></use>
                  </svg>
              </div>
              <h3 class="benefits__text">
                  Modern teaching methods
              </h3>
          </li>
          <li class="benefits__item">
              <div class="benefits__icon">
                  <svg width="35" height="40">
                      <use href="./images/icon.svg#finance"></use>
                  </svg>
              </div>
              <h3 class="benefits__text">
                  Financial guarantee<br>the result
              </h3>
          </li>
      </ul>
  </div>
</section>