
<section class="section registration">
    <div class="container reg__container">
        <h2 class="reg__title">Registration for a <span class="reg__orange-span">free</span> phone <span class="reg__orange-span">consultation</span> on the nuances of English UPE</h2>
        <p class="reg__desc">Leave a request for participation in a <span class="reg__orange-span">free lesson</span>. A consultant will contact you and answer your questions</p>
        <form action="" class="reg__form">
            <label for="reg__input" class="reg__label">
                <input type="text" class="reg__input reg__input--name" placeholder="Name*">
            </label>
            <label class="reg__label">
                <input type="tel" class="reg__input reg__input--phone" placeholder="Phone*">
            </label>
            <button type="submit" class="reg__submit"><span class="reg__sumbit__text">I want a free lesson</span></button>
        </form>
    </div>
</section>

