<section class="section registration">
  <div class="container reg__container">
    <h2 class="reg__title" id="contacts">
      Registration for a <span class="reg__orange-span">free</span> phone
      <span class="reg__orange-span">consultation</span> on the nuances of
      English UPE
    </h2>
    <p class="reg__desc">
      Leave a request for participation in a
      <span class="reg__orange-span">free lesson</span>.
    </p>
    <p class="reg__desc reg__desc--second">
      A consultant will contact you and answer your questions
    </p>
    <form action="" class="reg__form">
      <label for="reg__input" class="reg__label">
        <input
          type="text"
          class="reg__input reg__input--name"
          pattern="[a-z]{20}"
          placeholder="Your Name"
        />
        <span class="reg__input__label">Name*</span>
      </label>
      <label class="reg__label">
        <input
          type="tel"
          class="reg__input reg__input--phone"
          pattern="[0-9]{10}"
          placeholder="0XXXXXXXXX"
        />
        <span class="reg__input__label">Phone*</span>
      </label>
      <button type="submit" class="button reg__submit" data-trust-open>
        <span class="reg__sumbit__text">I want a free lesson</span>
      </button>
    </form>
  </div>
</section>
