<section class="section features">
    <div class="features__wrap">
    <div class="container features__container">
        <h3 class="features__title">
            Why do people choose us
        </h3>
        <ul class="features__list">
            <li class="features__line">
                <p class="features__number">
                    — 01
                </p>
                <p class="features__text">
                    Training in small groups
                </p>
            </li>
            <li class="features__line">
                <p class="features__number">
                    — 02
                </p>
                <p class="features__text">
                    Rendered notes
                </p>
            </li>
            <li class="features__line">
                <p class="features__number">
                    — 03
                </p>
                <p class="features__text">
                    Each lesson has a goal and a specific result
                </p>
            </li>
            <li class="features__line">
                <p class="features__number">
                    — 04
                </p>
                <p class="features__text">
                    The real results of the teacher
                </p>
            <li class="features__line">
                <p class="features__number">
                    — 05
                </p>
                <p class="features__text">
                    The course program meets the requirements of the MES of Ukraine
                </p>
            </li>
            <li class="features__line">
                <p class="features__number">
                    — 06
                </p>
                <p class="features__text">
                    Set of groups by level of knowledge
                </p>
            </li>
            </li>
        </ul>
    </div>
    </div>
</section>
