<section class="section__footer">
  <div class="container footer">
    <adres class="footer__adr">
      <a href="./index.html" class="logo logo--footer">
        <svg class="logo-icon" width="80px" height="20px">
          <use href="./images/icon.svg#logo"></use>
        </svg>
        <span class="logo--text">
          <span class="logo--or">hellish</span>
          english
        </span>
      </a>
      <a href="tel:+38 (099) 123 45 67" class="link link--footer">
        <!-- <svg class="footer__icon" width="20px" height="20px">
          <use href="./images/icon.svg#tel"></use>
        </svg> -->
        +38 (099) 123 45 67
      </a></adres
    >
    <a href="https://www.instagram.com">
      <picture>
        <source
          srcset="
            ./images/footer/instagram.webp    1x,
            ./images/footer/instagram@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/footer/instagram.png 1x,
            ./images/footer/instagram.png 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/footer/instagram.png"
          alt="Logo instagram"
          width="40"
          height="40"
          loading="lazy"
        />
      </picture>
    </a>
  </div>
  </section>
  <section class="section__footer--dark">
    <div class="container">
      <p class="footer__text">&copy; All rights reserved, 2022</p>
    </div>
  </div>
</section>
