<section class="section section--foter">
  <div class="container container--footer">
    <a href="./index.html" class="logo">
      <svg>
        <use href="./images/icon.svg#logo"></use>
      </svg>
    </a>
    <a href="tel:+38 (099) 123 45 67" class="link">
      <svg class="footer__img--tel">
        <use href="./images/icon.svg#tel"></use>
      </svg>
    </a>
    <a href="https://www.instagram.com/" class="social">
      <picture>
        <source
          srcset="
            ./images/footer/instagram.webp    1x,
            ./images/footer/instagram@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/footer/instagram.jpg    1x,
            ./images/footer/instagram@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/footer/instagram.png"
          alt="instagram"
          width="40"
          height="40"
          loading="lazy"
        />
      </picture>
    </a>
    <p></p>
  </div>
</section>
