<section class="section">
  <div class="container">
    <a href="./index.html" class="logo">
      <svg class="logo-icon" width="22px" height="30px">
        <use href="./images/icon.svg#logo"></use>
      </svg>
      <span class="logo--text">
        <span class="logo--or">hellish</span>
        english
      </span>
    </a>
    <a href="tel:+38 (099) 123 45 67" class="link link--footer">
      <svg class="logo-icon" width="20px" height="20px">
        <use href="./images/icon.svg#tel"></use>
      </svg>
      +38 (099) 123 45 67
    </a>
    <a href="https://www.instagram.com">
      <picture>
        <source
          srcset="
            ./images/footer/instagram.webp    1x,
            ./images/footer/instagram@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/examples/img-2_sm.jpg    1x,
            ./images/examples/img-2_sm@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/footer/instagram.png"
          alt="дизайн логотипа ресторана морской кухни"
          width="450"
          height="294"
          loading="lazy"
        />
      </picture>
    </a>
    <p class="footer__text">&copy; All rights reserved, 2022</p>
  </div>
</section>
