<header class="header">
  <div class="header__container container flexbox">
    <a class="logo logo--header">
      <div class="logo__title">
        Hell
        <svg class="logo__icon" width="22px" height="30px">
          <use href="./images/icon.svg#fire"></use>
        </svg>
        <span class="logo__title--upper"> en </span>
      </div>
      <p class="logo__text">
        <span class="logo__text--or">hellish</span> english
      </p>
    </a>
    <nav class="header__nav flexbox">
      <ul class="header__list flexbox">
        <li class="header__item">
          <a class="header__link" href="#program" id="">studying programm</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#about" id="">about</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#hero" id="">training options </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#contacts" id="">contacts </a>
        </li>
      </ul>
    </nav>
    <button class="header__button button" type="button" data-modal-open>
      consultation by phone
    </button>
  </div>
</header>
