<header class="header">
      <div class="header__container flexbox">
          <a class="header__logo logo" href="./index.html">
            <!-- svg через use href= не працює. Шлях не бачить, чому? -->
            hell<svg class="header__icon" width="22" height="30">
              <use href="./images/icon.svg#fire"></use>
              </svg><b class="header__logo--b">en</b>
            <p class="header__logo--text"> <span class="header__logo--span">hellish</span> english</p>
          </a>
        <nav class="header__nav flexbox">
          <ul class="header__list flexbox">
            <li class="header__item"> <a class="header__link" href="#program" id="">studying programm</a></li>
            <li class="header__item"> <a class="header__link" href="#about" id="">about</a></li>
            <li class="header__item"> <a class="header__link" href="#hero" id="">training options </a></li>
            <li class="header__item"> <a class="header__link" href="#contacts" id="">contacts </a></li>
          </ul>
        </nav>
        <button class="header__button button" type="button" data-modal-open> consultation by phone </button>
      </div>

</header>

