<header class="header" id="header">
  <div class="header__container container">
    <!-- logo-desk -->
    <a class="logo" href="./index.html">
        <svg class="logo__icon" width="130px" height="45px">
          <use href="./images/icon.svg#logo"></use>
        </svg>
    </a>

    <!-- mobile-menu -->
    <div class="mobile-menu" id="mobile-menu" data-menu>
      <a class="logo logo--header" href="./index.html">
      <svg class="logo__icon" width="130px" height="45px">
        <use href="./images/icon.svg#logo-wht"></use>
      </svg>
      </a>
      <!-- mobile-nav -->
      <nav class="menu__nav">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#program">studying programm</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#about">about</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#work">training options </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#contacts">contacts </a>
          </li>
        </ul>
      </nav>
      <button class="button button--mobile" type="button">
        consultation by phone
      </button>
    </div>

    <!-- modile-button -->
    <button class="button button--header" type="button" data-regi-open>
      consultation by phone
    </button>
    <!-- button-menu-desk -->
    <button
      class="menu-button"
      type="button"
      aria-controls="mobile-menu"
      aria-label="mobile menu button"
      data-menu-button=""
    >
      <svg class="menu-button__icon" width="40" height="40">
        <use class="menu-button__open" href="./images/icon.svg#menu"></use>
        <use
          class="menu-button__close"
          href="./images/icon.svg#menuclose"
        ></use>
      </svg>
    </button>


  </div>
</header>
