<section class="section problems">
    <div class="container">
       
        <h2 class="problems__title">The main problems of students in English UPE, which
        we <span class="accent__text">help</span> to solve</h2>
        
        <ul class="problems__list list">
        <li class="problems__item">
            <p class="problems__pretitile">Grammar</p>
        </li>
        <li class="problems__item">
            <p class="problems__pretitile"> Inability to understand spoken English</p>
        </li>
        <li class="problems__item">
            <p class="problems__pretitile">Stingy vocabulary for writing an essay</p>
        </li>
        <li class="problems__item">
            <p class="problems__pretitile">Preparing alone</p>
        </li>
        <li class="problems__item">
            <p class="problems__pretitile">Lack of a single knowledge resource</p>
        </li>
        <li class="problems__item">
            <p class="problems__pretitile">Lack of self-organization and laziness</p>
        </li>
        
        </ul>
    
    </div>
</section>