<section class="section problems">
  <div class="container">
    <h2 class="problems__title">
      The main problems of students in English UPE, which
      <br>we <span class="problems__accent-text">help</span> to solve
    </h2>

    <ul class="problems__list list">
      <li class="problems__item">
        <p class="problems__text">Grammar</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Inability to understand spoken English</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Stingy vocabulary for writing an essay</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Preparing alone</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Lack of a single knowledge resource</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">
          Lack of self-organization
          <span class="problems__text-hiden"> and laziness</span>
        </p>
      </li>
    </ul>
  </div>
</section>
