<section class="program section" id="program">
  <div class="container">
    <h2 class="program__title" id="program">Our program</h2>

    <ol class="program__list">
      <li class="semester">
        <h3 class="semester__title">
          <span class="semester__title--number">1</span> semester
        </h3>
        <ul class="semester__subject-list">
          <li class="semester__subject-item">
            — Grammar
            <ul class="semester__topic-list">
              <li class="semester__topic-item">Nouns & Articles</li>
              <li class="semester__topic-item">Adjectives & Adverb</li>
            </ul>
          </li>
          <li class="semester__subject-item">
            — Vocabulary
            <ul class="semester__topic-list">
              <li class="semester__topic-item">Family & Relations</li>
              <li class="semester__topic-item">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="semester">
        <h3 class="semester__title">
          <span class="semester__title--number">2</span> semester
        </h3>
        <ul class="semester__subject-list">
          <li class="semester__subject-item">
            — Grammar
            <ul class="semester__topic-list">
              <li class="semester__topic-item">Pronouns</li>
              <li class="semester__topic-item">Active Voice</li>
              <li class="semester__topic-item">Passive Voice</li>
            </ul>
          </li>
          <li class="semester__subject-item">
            — Vocabulary
            <ul class="semester__topic-list">
              <li class="semester__topic-item">Home</li>
              <li class="semester__topic-item">School</li>
              <li class="semester__topic-item">Work</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="semester">
        <h3 class="semester__title">
          <span class="semester__title--number">3</span> semester
        </h3>
        <ul class="semester__subject-list">
          <li class="semester__subject-item">
            — Grammar
            <ul class="semester__topic-list">
              <li class="semester__topic-item">Modal verbs</li>
              <li class="semester__topic-item">Infinitive</li>
              <li class="semester__topic-item">Gerund</li>
              <li class="semester__topic-item">Participle: 1, 2</li>
            </ul>
          </li>
          <li class="semester__subject-item">
            — Vocabulary
            <ul class="semester__topic-list">
              <li class="semester__topic-item">Travel & Tourism</li>
              <li class="semester__topic-item">Culture & Free Time</li>
              <li class="semester__topic-item">Sport</li>
            </ul>
          </li>
          <li class="semester__subject-item">
            — Writing
            <ul class="semester__topic-list">
              <li class="semester__topic-item">Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="semester">
        <h3 class="semester__title">
          <span class="semester__title--number">4</span> semester
        </h3>
        <ul class="semester__subject-list">
          <li class="semester__subject-item">
            — Grammar
            <ul class="semester__topic-list">
              <li class="semester__topic-item">
                Clauses: Conditional and Wishes
              </li>
              <li class="semester__topic-item">Direct / Reported speech</li>
              <li class="semester__topic-item">Preposition</li>
              <li class="semester__topic-item">Conjunction</li>
              <li class="semester__topic-item">Numeral</li>
            </ul>
          </li>
          <li class="semester__subject-item">
            — Vocabulary
            <ul class="semester__topic-list">
              <li class="semester__topic-item">Healthy Living</li>
              <li class="semester__topic-item">Nature & Environment</li>
              <li class="semester__topic-item">Money</li>
            </ul>
          </li>
          <li class="semester__subject-item">
            — Writing
            <ul class="semester__topic-list">
              <li class="semester__topic-item">Formal Letter</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="semester">
        <h3 class="semester__title">
          <span class="semester__title--number">5</span> semester
        </h3>
        <ul class="semester__subject-list">
          <li class="semester__subject-item">
            —
            <ul class="semester__topic-list">
              <li class="semester__topic-item">Revision</li>
              <li class="semester__topic-item">Tests</li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>
  </div>
</section>
