
<section class="section">
    <div class="container">
        <h2 class="work__head-title">How do we do it</h2>
        <ul class="work list">
            <li class="work__list">
                <div class="work__box">
                    <svg class="work__icon">
                        <use href="../images/icon.svg#doc"></use>
                    </svg>
                </div>
                <h3 class="work__title">Adapted program preparation for UPE</h3>
                <p class="work__pretitle">You will learn grammar and vocabulary at the same time. And you will learn how to write essays.</p>
            </li>
            <li class="work__list">
                <div class="work__box">
                    <svg class="work__icon">
                        <use href="../images/icon.svg#mobile-learning"></use>
                    </svg>
                </div>
                <h3 class="work__title">Classroom and online learning</h3>
                <p class="work__pretitle">The teacher will help not only in the classroom, but also during home preparation.
                Parents can chat if they wish.</p>
            </li>
            <li class="work__list">
                <div class="work__box">
                    <svg class="work__icon">
                        <use href="../images/icon.svg#book"></use>
                    </svg>
                </div>
                <h3 class="work__title">The habit of reading in English</h3>
                <p class="work__pretitle">Articles from sources that are used in the development of this UPE will be received by phone twice a week.</p>
            </li>
            <li class="work__list">
                <div class="work__box">
                    <svg class="work__icon">
                        <use href="../images/icon.svg#support"></use>
                    </svg>
                </div>
                <h3 class="work__title">Psychological support</h3>
                <p class="work__pretitle">We will teach you testing techniques, the ability to plan your confidence training in itself.</p>
            </li>
            <li class="work__list">
                <div class="work__box">
                <svg  class="work__icon">
                    <use href="../images/icon.svg#autors"></use>
                </svg>
                </div>
                <h3 class="work__title">Training on copyright manuals</h3>
                <p class="work__pretitle">You don't have to waste your time on a search for material and to buy anything extra. We have compiled 2 manuals for you.</p>
            </li>
            <li class="work__list">
                <div class="work__box">
                    <svg class="work__icon">
                        <use href="../images/icon.svg#english"></use>
                    </svg>
                </div>
                <h3  class="work__title">Ability to comprehend spoken English</h3>
                <p  class="work__pretitle">"F.R.I.E.N.D.S" won't help you. You will listen regularly and analyze audio recordings
                in accordance with the studied vocabulary.</p>
            </li>
        </ul>
    </div>
</section>