.button {
  width: 260px;
  height: 48px;
  padding-top: 14px;
  padding-bottom: 14px;

  background-color: var(--accent--color);
  cursor: pointer;

  transition: color var(--duration-animation),
    background-color var(--duration-animation), border var(--duration-animation);

  @include text(700, 12, 1.25, 0.08em, center, uppercase);
  border: 2px solid var(--accent--color);

  @include mq(desk) {
    width: 354px;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 26px;

    @include text(700, 14, 1.21, 0.14em, center, uppercase);
  }

  &:hover,
  &:focus {
    background-color: var(--accent--wht--color);
    color: var(--accent--color);
  }

  &--header {
    background-color: transparent;
    color: var(--accent--color);
    display: none;

    @include mq(tab) {
      display: block;
      margin-left: auto;
    }

    @include mq(desk) {
      display: block;
      position: relative;
      right: inherit;
      top: inherit;
      // right: 25px;
      // top: 0px;
      transform: inherit;
      margin-left: auto;
    }
  }

    &--mobile  {
      background-color: transparent;
      color: var(--accent--color);
      @include mq(mob-only) {
            margin: 0 auto;
          }

      @include mq(desk) {
        display: none;
    }
      @include mq(tab) {
        display: none;
  }
  }


    &:hover,
    &:focus {
      background-color: var(--accent--color);
      color: var(--accent--wht--color);
    }


  &--hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--accent--wht--color);

    @include mq(tab) {
      margin-left: 0;
    }
  }
}


.arrow {
  opacity: 0;
  background-color: transparent;

  // border-radius: 5px;
  position: fixed;
  right: 28px;
  bottom: 40px;
  border: 2px solid var(--accent--color);
  border-radius: 50%;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.arrow__icon {
  display: block;
  fill: var(--accent--color);
}
