.button {
  width: 260px;
  height: 48px;
  padding-top: 14px;
  padding-bottom: 14px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #ffffff;

  border: 2px solid var(--accent--color);

  background-color: var(--accent--color);

  cursor: pointer;

  @include mq(desk) {
    width: 354px;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 26px;

    font-size: 14px;
    line-height: 1.21px;
    letter-spacing: 0.14em;
  }
}
