.container {
  min-width: 320px;
  max-width: 480px;

  padding: 0 20px;
  margin: 0 auto;

  @include mq(tab) {
    max-width: 768px;

    padding: 0 40px;
  }
  @include mq(desk) {
    max-width: 1366px;

    padding: 0 26px;
  }
}
