.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--primary-text-color);

  @include mq(tab) {
    gap: 5px;
  }

  &__icon {
    width: 80px;
    height: 20px;
  }

  &__text {
    @include text(700, 5, 1.25, 0.18em, start, uppercase);
    &--or {
      color: var(--accent--color);
    }
  }

  @include mq(tab) {
    &__icon {
      width: 120px;
      height: 30px;
    }
    &__text {
      @include text(700, 8, 1.25, 0.18em, start, uppercase);
    }
  }

  @include mq(desk) {
    position: absolute;
    left: 26px;
  }
}
