.logo {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 130px;
  color: var(--primary-text-color);

  @include mq(mob-only){
    max-width: 80px;
    gap: 1px;
    &__title{
      @include text(800, 16, 1.23, 0.04, none, none);
    }
  }



  &__title {
    flex-direction: row;
    gap: 4px;
    @include text(800, 26, 1.23, 0.04, none, none);
    &--upper {
      text-transform: uppercase;
    }
  }
  &__icon {
    fill: var(--accent--color);
  }
  &__text {
    @include text(700, 8, 1.25, 1.18, none, none);
    text-transform: uppercase;
    &--or {
      color: var(--accent--color);
    }
  }
  &--header{
    color: var(--accent--wht--color);
  }

  // @media screen and (min-width: 768px) {
// лого топ должен пропадать
  // }
}
