.modal-window__reg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  height: 100%;
  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq(desk) {
    width: 528px;
    height: 581px;
    max-width: 528px;
    max-height: 581px;
  }

  background-color: var(--background-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-window__reg {
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;

  margin-bottom: 12px;

  color: var(--primary-title-color);
}
.reg__button {
  color: var(--accent--wht--color);
}
.close__button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    fill: var(--accent--color);
    outline-color: var(--accent--color);
  }
}
