.about__title {
  margin-bottom: 30px;
  @include text(800, 20px, 1.3, 0.03em, left, false);
  @include mq(tab) {
    font-size: 26px;
  }
  @include mq(desk) {
    font-size: 46px;
    margin-bottom: 50px;
  }
}
.about {
  position: relative;
  padding-bottom: 0;
}
.about__wrap {
  @include mq(tab) {
    display: flex;
    gap: 42px;
  }
  @include mq(desk) {
    gap: 60px;
  }
}
.about__img {
  display: block;

  margin-bottom: 20px;

  width: 243px;
  height: 306px;
  @include mq(desk) {
    width: 530px;
    height: 668px;
    margin-bottom: 0;
  }
}
.about__exp {
  @include mq(tab) {
    max-width: 403px;
  }
  @include mq(desk) {
    max-width: 641px;
  }
}
.about__subtitle {
  @include text(800, 20px, 1.2, 0.08em, false, false);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--second-text-color);
  margin-bottom: 20px;
  @include mq(desk) {
    font-size: 30px;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
}
.about__list {
  margin-bottom: 20px;
  @include mq(tab) {
    margin-bottom: 30px;
  }
  @include mq(desk) {
    margin-bottom: 43px;
    width: 589px;
  }
}
.about__item {
  position: relative;
  margin-left: 27px;
  @include text(600, 14px, 1.2, 0.06em, false, false);
  @include mq(tab) {
    @include text(600, 12px, 1.25, 0.06em, false, false);
  }
  @include mq(desk) {
    @include text(600, 16px, 1.25, 0.06em, false, false);
    margin-left: 59px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
    @include mq(desk) {
      margin-bottom: 28px;
    }
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: -27px;
    width: 18px;
    height: 14px;
    background-image: url('../images/check.svg');
    background-repeat: no-repeat;

    @include mq(tab) {
      left: -29px;
      top: 0;
    }
    @include mq(desk) {
      width: 25px;
      height: 20px;
      left: -59px;
    }
  }
}
.about__desc {
  @include text(500, 12px, 1.67, false, false, false);
  color: var(--second-text-color);
  margin-bottom: 20px;
  @include mq(tab) {
    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }
  @include mq(desk) {
    @include text(500, 18px, 1.56, false, false, false);
    &:not(:last-of-type) {
      margin-bottom: 28px;
    }
    margin-bottom: 22px;
  }

  &:first-of-type::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 20px;
    @include mq(tab) {
      margin-bottom: 30px;
    }
    @include mq(desk) {
      margin-bottom: 43px;
    }

    background-color: var(--accent--color);
  }
}
.about__btn {
  @include text(500, 12px, 1.67, false, false, false);
  color: var(--accent--color);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--accent--color);
  padding: 0;
  @include mq(desk) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 320px;
  height: 420px;
  padding: 40px;
  @include mq(tab) {
    width: 480px;
    height: 650px;
  }

  transform: translate(-50%, -50%);
  background-color: var(--accent--wht--color);
}
.backdrop {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms, transform 250ms;

  &.is-hidden {
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
    transform: scale(50%, 50%);
  }
}
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;

  outline: none;
  background-color: unset;
  border-radius: 50%;
  border: 1px solid var(--second-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  :hover {
    fill: var(--accent--color);
    border-color: var(--accent--color);
  }
}
