.benefits {
  padding-top: 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    position: relative;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    fill: var(--accent--color);
    border: 2px solid var(--accent--color);

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      right: -3px;
      width: 4px;
      height: 44px;
      background: var(--accent--wht--color);
    }
  }

  &__text {
    @include text(700, 14px, 1.64, 0.08em, start, none);
    width: 146px;
    color: var(--primary-text-color);
  }

  @media (min-width: 768px) {
    &__list {
      grid-template-columns: repeat(3, 1fr);
      gap: 21px;
      justify-items: start;
    }

    &__text {
      width: 139px;

      &--first {
        width: 148px;
      }
    }
  }

  @media (min-width: 1366px) {
    &__item {
      position: relative;
    }

    &__icon {
      width: 100px;
      height: 100px;

      &::after {
        height: 66px;
      }
    }

    &__text {
      position: absolute;
      left: 82px;
      width: 239px;
      font-size: 20px;
    }
  }
}
