
.registration {
    font-family: 'Montserrat';
    background-image: url(./../images/registration-contacts/registration-bg_sm.png);
    @include mq(retina) {
        background-image: url(./../images/registration-contacts/registration-bg_sm@2x.png);
    }
    background-color: #111518;
    background-size: cover;
    background-repeat: no-repeat;
    @include mq(tab) {
        background-image: url(./../images/registration-contacts/registration-bg_md.png);
        @include mq(retina) {
            background-image: url(./../images/registration-contacts/registration-bg_md@2x.png);
        }
    }
    @include mq(desk) {
        background-image: url(./../images/registration-contacts/registration-bg_lg.png);
        @include mq(retina) {
            background-image: url(./../images/registration-contacts/registration-bg_lg@2x.png);
        }
    }
    padding: 0;
}

.reg__container {
    padding: 55px 20px;
    @include mq(tab) {
        padding: 60px;
    }
    @include mq(desk) {
        padding: 100px 295px;
    }
}

.reg__title {
    text-align: center;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 25px;
    @include mq(tab) {
        font-size: 26px;
        line-height: 33px;
        margin-bottom: 50px;
    }
    @include mq(desk) {
        font-size: 46px;
        line-height: 60px;
    }
}

.reg__orange-span {
    color: #FF6B09;
}

.reg__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.reg__desc {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.08em;
    text-align: center;
    margin-bottom: 43px;
    @include mq(tab) {
        font-size: 16px;
    }
    @include mq(desk) {
        font-size: 30px;
    }
}

.reg__label {
    width: 100%;
    @include mq(tab) {
        width: 390px;
    }
    @include mq(desk) {
        width: 478px;
    }
    position: relative;
}

.reg__input__label {
    position: absolute;
    top: 22%;
    left: 20px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    @include mq(desk) {
        font-size: 20px;
        left: 40px;
        line-height: 24px;
    }
}

.reg__input {
    background-color: transparent;
    padding: 15px 28px;
    outline: 1px solid #FFFFFF;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 0.08em;
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    &::placeholder {
        color: #FFFFFF;
    }
    &:focus {
        outline-color: var(--accent--color);
    }
    &:focus + .reg__input__label {
        @include mq(desk) {
            top: -25px;
        }
    }
    @include mq(tab) {
        width: 390px;
    }
    @include mq(desk) {
        width: 478px;
        font-size: 20px;
        padding: 23px 40px;
        margin-bottom: 30px;
    }
}

.reg__submit {
    background-color: #FF6B09;
    color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    border: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 13px;
    margin-top: 30px;
    @include mq(tab) {
        margin-top: 10px;
    }
    @include mq(desk) {
        font-size: 14px;
        padding-top: 27px;
        padding-bottom: 26px;
        width: 354px;
        margin-top: 50px;
    }
}
