.features {
  position: static;
  @include mq(tab) {
    padding-top: 35px;
    position: relative;
    margin-top: 0;
  }
  @include mq(desk) {
    margin-bottom: 0;
    padding-bottom: 100px;
  }
  background: linear-gradient(to bottom, var(--background-color) 50%, var(--accent--wht--color) 50%, var(--accent--wht--color) 100%);
  @include mq(desk) {
    background: none;
  }
  border: none;
  outline: none;
}

.features__wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  @include mq(tab) {
    top: -200px;
  }
  @include mq(desk) {
    top: -240px;
    margin: auto;
    position: absolute;
    left: 0;
  }
}

.features__list {
  background-color: #fff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  padding: 35px 22px;
  margin: 0;
  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 88px;
  }
}

.features__line {
  margin: 0px 0px 30px 0px;
  letter-spacing: 0.08em;
  font-weight: 700;
  @include mq(tab) {
    margin-bottom: 20px;
    margin-right: 20px;
    width: 236px;
  }

  @include mq(desk) {
    width: 336px;
    margin-right: 40px;
    font-size: 20px;
  }
}

.features__title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  width: 180px;
  margin-bottom: 30px;
  position: absolute;
  top: -30px;
  left: 20px;
  margin-top: 0;
  @include mq(tab) {
    width: 100%;
    font-size: 26px;
    text-align: center;
    position: static;
  }
  @include mq(desk) {
    opacity: 0;
    width: 1px;
    height: 1px;
  }
}

.features__number {
  color: var(--accent--color);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  @include mq(desk) {
    font-size: 20px;
  }
}

.features__text {
  line-height: 20px;

  @include mq(desk) {
    line-height: 24px;
  }
}
