.footer {
  position: relative;
  display: flex;
  align-items: center;
  transition: fill var(--duration-animation);

  &__list {
    display: flex;
    align-items: center;
  }
  &__text {
    @include text(500, 14px, 2, 0.08em, center, none);
    color: var(--second-text-color);
  }
  &__link {
    display: flex;
  }
  &__social-link--inst {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/footer/instagram.png);

    @include mq(retina) {
      & {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/footer/instagram@2x.png);
      }
    }
  }

  @include mq(mob-only) {
    flex-direction: column;
    gap: 22px;

    &__list {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }
  @include mq(tab) {
    justify-content: space-between;
    &__list {
      gap: 20px;
    }
    &__text {
      text-align: start;
    }
    &__link--inst {
      display: flex;
      &::before {
        content: '';
        padding-left: 20px;
        border-left: 1px solid #b9b9b9;
      }
    }
  }
  &__list {
    margin: auto;
  }
  @include mq(desk) {
    &__link--inst {
      &::before {
        content: '';
        padding-left: 23px;
        border-left: 1px solid #b9b9b9;
      }
    }
  }
}
