.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__adr {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  &__text {
    @include text(500, 14px, 2, 0.08em, center, none);
    color: var(--second-text-colot);
  }
}
