
#page.no-scroll {
  overflow: hidden;
}

// header__container

.header__container{
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;

//   top: auto;
//   left: 50%;

}


// mobile-menu open!!

.mobile-menu {
  width: 100%;
  height: 100vh;
  background: var(--background-color);
  opacity: 0.8;
  visibility: hidden;

  padding: 30px 20px;

  display: none;

  &.is-open {
    z-index: 3;
    visibility: visible;
    position: absolute;
      top: 0;
    right: 0;
    flex-direction: column;
    row-gap: 48.5px;
    display: flex;
    @media screen and (min-width: 1366px){
    position: relative;
    top:inherit;
    right: inherit;
    padding: 30px 20px;


    }

  }

@media screen and (min-width: 768px) {
  margin-left: 144px;
  .menu__nav{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  }
  padding-left: 39px;

}

// desk-top menu open
  @media screen and (min-width: 1366px) {
    display: flex;
    visibility: visible;

    width: auto;
    height: auto;
    background-color: transparent;


    @include mq(desk) {
      .logo--header{
        display: none;
      }

      .menu__list {
        display: flex;
      }

      .menu__item {
        &:not(:last-child){
          margin-right: 40px;
        }
      }
    }
}
}


// open menu-link

.menu__link {
font-weight: 800;
font-size: 20px;
line-height: calc(36/20);
letter-spacing: 0.03em;
text-transform: capitalize;
color: var(--accent--wht--color);

  @include mq(tab) {
  font-size: 26px;
  line-height: calc(46.8/26);

}

@include mq(desk) {
  display: flex;
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

&:hover,
&:focus {
  color: var(--accent--color);
}
}

// button X !!

.menu-button {
  position: absolute;
  z-index: 4;
  top: 25px;
  right: 15px;

  cursor: pointer;

  background-color: rgba(0,0,0,0);
  border: none;

  margin: 0;
  padding: 0;



// desk-top size X-button
  @media screen and (min-width: 1366px) {
    display: none;
}
}


// menu-button__close or open
.menu-button__close {
  display: none;

  .menu-button.is-open & {
  fill: var(--accent--wht--color);
  display: block;
}
}


.menu-button__open {
  .menu-button.is-open & {
  display: none;
}
}
