.hero {
  max-width: 480px;
  overflow: hidden;
  padding-bottom: 302px;
  margin-left: auto;
  margin-right: auto;

  background-image: url(../images/hero/Group-mob@2x.png),
    url(../images/hero/wave-bg.svg);
  background-position: left 50% bottom 70px, 0px -35px;
  background-repeat: no-repeat;
  background-size: 208px 178px, 768px 500px;

  @include mq(tab) {
    max-width: 768px;
    padding-top: 30px;
    padding-bottom: 140px;

    background-image: url(../images/hero/Group-tab@2x.png),
      url(../images/hero/wave-bg.svg);
    background-position: left calc(50% + 198px) top 30px, left -20px top -290px;
    background-size: 370px 315px, 1300px 713px;
  }

  @include mq(desk) {
    max-width: 1680px;
    padding-top: 55px;
    padding-bottom: 372px;

    background-image: url(../images/hero/Group-desk@2x.png),
      url(../images/hero/wave-bg.svg);
    background-position: calc(50% + 330px) top, left 50% top -130px;
    background-size: 842px 718px, cover;
    // 1680px 878px
  }
}

.hero__box-text {
  margin-left: auto;
  margin-right: auto;

  @include mq(tab) {
    max-width: 320px;
    margin-left: 0;
  }

  @include mq(desk) {
    max-width: 530px;
  }
}

.hero__title {
  margin-bottom: 8px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  color: #111518;

  @include mq(tab) {
    font-size: 26px;
    margin-bottom: 15px;
  }

  @include mq(desk) {
    font-size: 58px;
  }
}

.hero__text {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;

  color: #b9b9b9;

  &--strong {
    color: #111518;
  }

  &--accent {
    display: inline-block;
    color: var(--accent--color);

    @include mq(desk) {
      color: #111518;
    }
  }

  @include mq(desk) {
    font-size: 20px;
    line-height: 1.65;
  }
}
