.problems {
  max-width: 480px;
  height: 695px;
  background: linear-gradient(
    to bottom,
    var(--background-color) 545px,
    var(--accent--wht--color) 545px,
    var(--accent--wht--color) 695px
  );
  padding: 0px 0px;
  @include mq(tab) {
    max-width: 768px;
    background: linear-gradient(
      to bottom,
      var(--background-color) 340px,
      var(--accent--wht--color) 340px,
      var(--accent--wht--color) 481px
    );
  }
}
.problems__title {
  color: var(--accent--wht--color);
  padding-top: 25px;
  @include text(800, 24px, 1.29, 0.03em, left, false);
  @include mq(tab) {
    padding-top: 55px;
    width: 450px;
  }
}
.accent__text {
  color: var(--accent--color);
}
.problems__list {
  margin-top: 25px;
  padding: 20px 27px;
  max-width: 440px;
  height: 490px;
  background: var(--accent--wht--color);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 688px;
    max-height: 320px;
    margin-top: 30px;
    padding: 28px 90px;
  }
}
.problems__pretitile {
  @include text(700, 14px, 1.71, 0.08em, none, none);
}
.problems__item {
  counter-increment: section;
  margin-bottom: 15px;
  @include mq(tab) {
    flex-basis: calc(50% - 34px);
    margin-bottom: 20px;
  }
}

.problems__pretitile::before {
  //   counter-increment: section;
  content: '― 0' counter(section);

  display: block;
  margin-bottom: 5px;
  @include text(700, 20px, 1.2, 0.08em, none, none);
  color: var(--accent--color);
}
