.section.reviews {
  padding-top: 0;
}
.reviews__title {
  margin-bottom: 30px;
  @include text(800, 20px, 1.3, 0.03em, center, false);
  @include mq(tab) {
    font-size: 26px;
  }
  @include mq(desk) {
    font-size: 46px;
    margin-bottom: 50px;
  }
}

.reviews__card {
  margin: auto;
  margin-bottom: 52px;
  @include mq(mob-only) {
    width: 241px;
  }
  @include mq(tab) {
    display: flex;
    gap: 46px;
    padding: 40px 40px;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

    margin-bottom: 40px;
  }
  @include mq(desk) {
    padding: 50px 82px;
    margin: 0 110px 50px;
  }
}

.reviews__photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  @include mq(mob-only) {
    margin-bottom: 22px;
  }
  @include mq(tab) {
    gap: 15px;
    justify-content: center;
  }
  @include mq(desk) {
    gap: 18px;
  }
}
.reviews__photo img {
  @include mq(mob-only) {
    max-width: none;
  }
  @include mq(tab) {
    width: 150px;
    height: 150px;
  }
}
.reviews__icon {
  display: block;
}

.reviews__wrap {
  width: 241px;
  @include mq(tab) {
    width: 412px;
  }
  @include mq(desk) {
    width: 706px;
  }
}

.reviews__subtitle {
  margin-bottom: 20px;

  @include text(800, 14px, 1.21, 0.08, center, false);

  @include mq(tab) {
    @include text(false, 20px, 1.2, false, left, false);
  }
  @include mq(desk) {
    @include text(false, 30px, 1.23, false, false, false);
    margin-bottom: 10px;
  }

  color: var(--accent--color);
}

.reviews__exp {
  margin-bottom: 16px;

  @include text(500, 12px, 1.25, 0.08, center, false);

  @include mq(tab) {
    @include text(500, 12px, false, false, left, false);
    width: 412px;
    margin-bottom: 20px;
  }
  @include mq(desk) {
    @include text(500, 14px, 1.29, false, false, false);
    width: 482px;
    margin-bottom: 18px;
  }

  color: var(--second-text-color);
}

.reviews__text {
  @include text(500, 12px, 1.67, false, center, false);

  @include mq(tab) {
    @include text(false, false, false, false, left, false);
  }
  @include mq(desk) {
    @include text(false, 18px, 1.56, false, false, false);
  }

  color: var(--third-text-color);
}

.reviews__link {
  display: block;
  @include text(500, 12px, 1.67, false, center, false);

  @include mq(tab) {
    @include text(false, false, false, false, left, false);
  }
  @include mq(desk) {
    @include text(false, 18px, 1.56, false, false, false);
  }
  text-decoration: underline;

  color: var(--accent--color);
}
.slider {
  position: relative;
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

.slider .slick-arrow {
  position: absolute;
  top: 95%;
  z-index: 10;
  font-size: 0;
  width: 25px;
  height: 10px;
  border: none;
  @include mq(tab) {
    top: 37%;
  }
}

.slider .slick-arrow.slick-prev {
  left: 0;

  background: url(../images/reviews/prev.svg) 0 / 100% no-repeat;
  @include mq(tab) {
    left: -10px;
  }
  @include mq(desk) {
    left: 27px;
  }
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../images/reviews/next.svg) 0 / 100% no-repeat;
  @include mq(tab) {
    right: -10px;
  }
  @include mq(desk) {
    right: 27px;
  }
}

.reviews__item {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Точки (булиты) */
.slider .slick-dots {
  display: flex;

  align-items: center;
  justify-content: center;
}

.slider .slick-dots li:not(:last-child) {
  @include mq(tab) {
    margin-right: 30px;
  }
}
.slider .slick-dots li button {
  border: none;
}
/* Активная точка */
.slider .slick-dots li.slick-active button {
  border: 1px solid var(--accent--color);
}

/* Элемент точки */
.slider .slick-dots li:nth-child(1) button {
  font-size: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-image: url(../images/reviews/petro_bidenko.png);
  background-repeat: no-repeat;
  background-size: contain;
  @include mq(mob-only) {
    margin-right: 10px;
  }
}

.slider .slick-dots li:nth-child(2) button {
  font-size: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-image: url(../images/reviews/rostyslav_derii.png);
  background-repeat: no-repeat;
  background-size: contain;
  @include mq(mob-only) {
    margin-right: 10px;
  }
}

.slider .slick-dots li:nth-child(3) button {
  font-size: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-image: url(../images/reviews/andrii_sopelniak.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.slider .slick-dots li:nth-child(n + 4) button {
  @include mq(mob-only) {
    display: none;
  }
}
.slider .slick-dots li:nth-child(4) button {
  font-size: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-image: url(../images/reviews/valeriia_stetsiuk.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.slider .slick-dots li:nth-child(5) button {
  font-size: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-image: url(../images/reviews/liubov_pushkina.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.slider .slick-dots li:nth-child(6) button {
  font-size: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-image: url(../images/reviews/vova_boychyshyn.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.slider .slick-dots li:nth-child(7) button {
  font-size: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-image: url(../images/reviews/rodion.png);
  background-repeat: no-repeat;
  background-size: contain;
}
